/* Login.css */

/* 전체 컨테이너 스타일 */
.login-container {
	display: flex;
	flex-direction: column;
	align-items: center; /* 가로 중앙 정렬 */
	justify-content: center; /* 세로 중앙 정렬 */
	height: 100vh; /* 화면 높이를 채우도록 설정 */
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	background-color: #000;
	color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 1200px;
}

/* 로고 이미지 스타일 */
.logo {
	width: 50%; /* 로고 너비 */
	height: auto;
	margin-bottom: 40px; /* 아래 여백 */
}

/* 섹션 제목 스타일 */
.section-title {
	font-size: 1.5rem;
	color: white;
	margin-bottom: 20px;
	text-align: center;
}

/* 폼 컨테이너 스타일 */
.form-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	align-items: center; /* 가로 중앙 정렬 */
}

/* 입력 필드 스타일 */
.input-field {
	width: 100%;
	padding: 10px;
	font-size: 1rem;
}

/* 로그인 버튼 스타일 */
.login-button {
	background-color: #007bff; /* 파란색 배경 */
	color: white;
	padding: 10px 20px; /* 버튼 크기 조정 */
	font-size: 1rem;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	align-self: center; /* 버튼 중앙 정렬 */
	width: 10%; /* 버튼 너비 설정 */
	max-width: 300px; /* 최대 너비 제한 */
}

/* 로그인 버튼 Hover 스타일 */
.login-button:hover {
	background-color: #0056b3; /* Hover 시 더 어두운 파란색 */
}
