/* 버튼 스타일 */
.video-list-button {
    position: absolute;
    /* 부모 요소에 상대적으로 위치 */
    top: 30px;
    /* 상단 여백 */
    left: 10px;
    /* 좌측 여백 */
    background-color: #007bff;
    /* 파란색 배경 */
    color: white;
    padding: 1px 1px;
    font-size: 1.5rem;
    /* 작은 글꼴 크기 */
    border: none;
    border-radius: 5px;
    transform: scale(0.6);
    /* 전체 크기 축소 */
    transform-origin: top left;
    /* 크기 축소 기준점 설정 */
}

/* '사용량' 버튼 Hover 스타일 */
.video-list-button:hover {
    background-color: #0056b3;
    /* Hover 시 진한 파란색 */
}